desktop/dist/web-files
desktop/dist/*.html
desktop/dist/*.jnlp
desktop/build.xml
desktop/manifest.mf
desktop/build
desktop/nbproject/build-impl.xml
desktop/nbproject/jfx-impl_backup*
desktop/nbproject/genfiles.properties
desktop/nbproject/UPDATED.TXT
desktop/nbproject/private
desktop/nbproject/configs
web/.c9
web/bin
web/vendor
web/bower_components
web/cache
web/public/uploads/*.json
web/composer.lock
**/*.class
**/*.zip
**/*.tar.gz
**/*.log
**/*.bak
**/*.lock
**/*.orig
**/*~
**/.DS_Store

