desktop/dist
desktop/build.xml
desktop/manifest.mf
desktop/build
desktop/nbproject/build-impl.xml
desktop/nbproject/jfx-impl_backup*
desktop/nbproject/genfiles.properties
desktop/nbproject/UPDATED.TXT
desktop/nbproject/private
desktop/nbproject/configs
**/*.class
**/*.zip
**/*.tar.gz
**/*.log
**/*.bak
**/*.lock
**/*.orig
**/*~
**/.DS_Store
