
.sideBar {
    -fx-padding: 10;
    -fx-alignment: CENTER;
    -fx-fit-to-width: true;
}

.customVBox {
    -fx-alignment: CENTER;
    -fx-padding: 10;
    
}

.customVBoxClicked {
    -fx-background-color: #e9e9f9;
    -fx-padding: 10;
    -fx-border-width: 3px;
    -fx-border-color: rgba(0, 0, 0, .1);
    -fx-border-radius: 5px;
}

.customHBox {
    -fx-padding: 0 5 0 5;
}

.unselected {
    -fx-opacity: 0.4;
}

.income-button-color {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#009900 0%, #007f00 25%, #007f00 75%, #009900 100%);
}
.expense-button-color {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#cc0000 0%, #b20000 25%, #b20000 75%, #cc0000 100%);
}

.income-text-color {
    -fx-text-fill: green;
}

.income-text-color  .table-cell {
    -fx-text-fill: green;
}

.expense-text-color {
    -fx-text-fill: red;
}

.expense-text-color  .table-cell {
    -fx-text-fill: red;
}

.income-text-color:selected .table-cell,
.expense-text-color:selected .table-cell {
    -fx-text-fill: white;
}
