
.sideBar {
    -fx-padding: 10;
    -fx-alignment: CENTER;
    -fx-fit-to-width: true;
}

.customVBox {
    -fx-alignment: CENTER;
    -fx-padding: 15;
    
}

.customVBoxClicked {
    -fx-background-color: #d1d0d0;
    -fx-padding: 15;
    -fx-border-radius: 5px;
}

.customHBox {
    -fx-padding: 0 5 0 5;
}

.unselected {
    -fx-opacity: 0.4;
}

.income-button-color {
    -fx-text-fill: white;
    -fx-background-color: #5CB85C;
}
.expense-button-color {
    -fx-text-fill: white;
    -fx-background-color: #D43F3A;
}

.income-text-color {
    -fx-text-fill: #4b904b;
}

.income-text-color  .table-cell {
    -fx-text-fill: #4b904b;
}

.expense-text-color {
    -fx-text-fill: #9e413e;
}

.expense-text-color  .table-cell {
    -fx-text-fill: #9e413e;
}

.income-text-color:selected .table-cell,
.expense-text-color:selected .table-cell {
    -fx-text-fill: white;
}
