
.sideBar {
    -fx-padding: 10;
    -fx-alignment: CENTER;
    -fx-fit-to-width: true;
}

.customVBox {
    -fx-alignment: CENTER;
    -fx-padding: 10;
    
}

.customVBoxClicked {
    -fx-background-color: #e9e9f9;
    -fx-padding: 10;
}

.customHBox {
    -fx-padding: 0 5 0 5;
}

.unselected {
    -fx-opacity: 0.4;
}
