html, body {
  height: 100%;
}

body {
  margin-top: 70px;
}

.btn-profile a {
  padding: 10px !important;
}

.btn-profile .profile-icon {
  color: #009688;
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px;
  box-shadow: 1px 1px 0 #eee;
}

#content {
  position: relative;
  min-height: 100%;
}

#content > .container {
  overflow: hidden;
  padding-bottom: 150px;
}

.team {
  padding: 10px;
}

.team img {
  margin: 0 auto;
}

.team h3,
.team p {
  text-align: left;
}

.social-buttons {
  text-align: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #fff;
  background-color: #009688 !important;
}

footer a {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
}

footer a:hover {
  color: #eee;
  border-color: #fff;
  text-decoration: none;
}

@media (max-width: 975px) {
  .social-buttons {
    text-align: center;
  }

  .team h3,
  .team p {
    text-align: center;
  }
}
