{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Contato
{% endblock %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3 text-center">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" id="form" method="POST">
        <fieldset>
          <legend>Contato</legend>
          {% if response %}
            <div class="text-{% if response.status %}success{% else %}danger{% endif %}">
              {{ response.message }}
            </div>
          {% endif %}
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="text" class="form-control" id="name" name="name" placeholder="Nome" value="{% if userLogged %}{{ userLogged.full_name }}{% endif %}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{% if userLogged %}{{ userLogged.email }}{% endif %}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <textarea class="form-control" rows="7" id="message" name="message" placeholder="Mensagem"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <button type="submit" class="btn btn-raised btn-primary">Enviar</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}
