{% extends "layout.twig" %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-body">
      Página inicial...

      <div class="text-center">
        <a href="{{ url('upload') }}" class="btn btn-raised btn-primary">Compartilhar minhas finanças</a>
      </div>

    </div>
  </div>

{% endblock %}
