{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Redefina sua senha
{% endblock %}

{% block content %}

<div class="col-sm-4 col-sm-offset-4 text-center">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" id="form" method="POST">
        <fieldset>
          <legend>Nova Senha</legend>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="password" class="form-control" id="password-confirm" placeholder="Confirmar senha">
            </div>
          </div>
         <div class="form-group">
          <div class="col-sm-10 col-sm-offset-1">
            <button type="submit" class="btn btn-raised btn-primary">Salvar</button>
          </div>
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}
