{% extends "layout.twig" %}

{% block title %}
	{{ parent() }} :: Redefina sua senha
{% endblock %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-body">
      Formulário de redefinição de senha...
    </div>
  </div>

{% endblock %}
