{% extends "layout.twig" %}

{% block title %}
	{{ parent() }} :: Cadastro
{% endblock %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-body">
      Página de cadastro...
    </div>
  </div>

{% endblock %}
