{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Downloads
{% endblock %}


{% block content %}

  <div class="container">
    <div class="row" style="padding: 10px">
      <div class="col-md-6 text-center" style="margin-bottom: 10px">
        <img src="{{ path('file', {file: 'images/desktop-01.png'}) }}" class="img-thumbnail img-responsive">
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <h2>Oráculo da Mascada</h2>
          <ul>
            <li>Mantenha o controle de suas finanças.</li>
            <li>Compartilhe suas finanças e obtenha relatórios financeiros gratuitamente.</li>
          </ul>
            <p>
              <a href="{{ path('file', {file: 'downloads/desktop_v1.0.zip'}) }}" class="btn btn-primary btn-lg">
                <i class="fa fa-desktop fa-fw"></i> Download
              </a>
            </p>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Downloads</h3>
          <hr width="75%">
          <table></table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block style %}
  <style>
    .jumbotron h2 {
      font-size: 24pt;
    }

    .jumbotron ul li {
      font-size: 14pt;
    }

    img {
      width: auto;
      max-height: 265px;
    }
  </style>
{% endblock %}

{% block script %}
  <script>
    $(function() {
      $('table').bootstrapTable({
        columns: [{
          field: 'date',
          title: 'Data',
          align: 'center',
          halign: 'center',
          valign: 'middle',
          sortable: true,
          sorter: function(a, b) {
            if (new Date(a) > new Date(b)) return 1;
            if (new Date(a) < new Date(b)) return -1;
            return 0;
          },
          formatter: function(value) {
            return new Date(value).toLocaleString().split(/\s/)[0];
          }
        },
        {
          field: 'plataform',
          title: 'Plataforma',
          align: 'center',
          halign: 'center',
          valign: 'middle',
          sortable: true
        },
        {
          field: 'requeriments',
          title: 'Requisitos',
          align: 'center',
          halign: 'center',
          valign: 'middle',
          sortable: true
        },
        {
          field: 'file',
          title: 'Opções',
          align: 'center',
          halign: 'center',
          valign: 'middle',
          formatter: function(value) {
            return '<a class="btn btn-raised btn-primary" href="/files/downloads/' + value + '" download>Download</a>';
          }
        }],
        data: [{
          date: '2015-05-24',
          plataform: 'LINUX | MAC | WINDOWS',
          requeriments: 'Java 8',
          file: 'desktop_v1.0.zip'
        }],
        sortName: 'date',
        sortOrder: 'desc',
        search: true,
        locale: 'pt-BR'
      });
    });
  </script>
{% endblock %}
