<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Oráculo da Mascada</h3>
        <ul>
          <li>Mantenha o controle de suas finanças.</li>
          <li>Compartilhe suas finanças e obtenha relatórios financeiros gratuitamente.</li>
        </ul>
        <div class="row">
          <div class="col-md-12">
            <a href="{{ path('home') }}">Início</a> | <a href="{{ path('downloads') }}">Downloads</a> | <a href="{{ path('contact') }}">Contato</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p class="text-info">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 social-buttons">
            <a href="https://facebook.com" target="_blank"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://gitlab.com/ldseinhardt/ds" target="_blank"><i class="fa fa-3x fa-fw fa-gitlab text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
