{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Cadastro
{% endblock %}

{% block content %}

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" id="form" method="POST">
          <fieldset>
            <legend>Cadastro</legend>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="password" class="form-control" id="password-confirm" placeholder="Confirmar senha">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="text" class="form-control" id="location" name="location" placeholder="Localização">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Ocupação">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <select id="education" name="education" class="form-control">
                  <option value="">Escolaridade</option>
                  <option value="1">Ensino fundamental completo</option>
                  <option value="2">Ensino fundamental incompleto</option>
                  <option value="3">Ensino médio completo</option>
                  <option value="4">Ensino médio incompleto</option>
                  <option value="5">Ensino superior completo</option>
                  <option value="6">Curso de pós-graduação completo</option>
                  <option value="7">Estudante de ensino fundamental ou ensino médio</option>
                  <option value="8">Estudante de graduação ou pós-graduação</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <button type="submit" class="btn btn-raised btn-primary">Cadastrar</button>
              </div>
            </div>
          </fieldset>
        </form>
        <a href="{{ url('login') }}">Login</a>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
  $(function() {
    $('.selectpicker').selectpicker();

    $('#location').autocomplete({
      serviceUrl: '/autocomplete/location/'
    });

    $('#occupation').autocomplete({
      serviceUrl: '/autocomplete/occupation/'
    });

    $('#education').change(function() {
      console.log($(':selected', this).val());
      if ($(':selected', this).val() === '') {
        $(this).css('color', '#bdbdbd');
      } else {
        $(this).css('color', '#555');
      }
      $('option', this).css('color', '#555');
    });

    $('#education').trigger('change');
  });
</script>
{% endblock %}
