{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Cadastro
{% endblock %}

{% block content %}

  <div class="col-sm-4 col-sm-offset-4 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" id="form" method="POST">
          <fieldset>
            <legend>Cadastro</legend>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="password" class="form-control" id="password-confirm" placeholder="Confirmar senha">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="text" class="form-control" id="state" name="state" placeholder="Estado">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <input type="text" class="form-control" id="city" name="city" placeholder="Cidade">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-1">
                <button type="submit" class="btn btn-raised btn-primary">Cadastrar</button>
              </div>
            </div>
          </fieldset>
        </form>
        <a href="{{ url('login') }}">Login</a>
      </div>
    </div>
  </div>

{% endblock %}
