{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Transações
{% endblock %}

{% block content %}

  <div class="col-sm-12 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Transações</h3>
        <form method="post">
          <input type="submit" name="action" value="Remover Transações" class="btn btn-raised btn-primary">
        </form>
        <table></table>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
  $(function() {
    $('table').bootstrapTable({
      url: '/transactions.json',
      columns: [{
        field: 'user',
        title: 'Usuário',
        align: 'center',
        halign: 'center',
        valign: 'middle',
        sortable: true
      },
      {
        field: 'id',
        title: 'Id',
        align: 'center',
        halign: 'center',
        valign: 'middle',
        sortable: true
      },
      {
        field: 'date',
        title: 'Data',
        align: 'center',
        halign: 'center',
        valign: 'middle',
        sortable: true,
        sorter: function(a, b) {
          if (new Date(a) > new Date(b)) return 1;
          if (new Date(a) < new Date(b)) return -1;
          return 0;
        },
        formatter: function(value) {
          return new Date(value).toLocaleString().split(/\s/)[0];
        }
      },
      {
        field: 'value',
        title: 'Valor',
        align: 'center',
        halign: 'center',
        valign: 'middle',
        sortable: true
      },
      {
        field: 'type',
        title: 'Tipo',
        align: 'center',
        halign: 'center',
        valign: 'middle',
        sortable: true
      },
      {
        field: 'category',
        title: 'Categoria',
        align: 'center',
        halign: 'center',
        valign: 'middle',
        sortable: true
      }],
      sortName: 'user',
      search: true,
      locale: 'pt-BR'
    });
  });
</script>
{% endblock %}
