{% extends "layout.twig" %}

{% block title %}
  {{ parent() }} :: Compartilhe suas finanças
{% endblock %}

{% block content %}

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" id="form">
          <fieldset>
            <legend>Compartilhe suas finanças</legend>
            <div class="form-group">
              <input type="file" id="data" name="data">
              <button type="button" class="btn btn-fab" id="btn-upload">
                <i class="fa fa-upload" aria-hidden="true"></i>
              </button>
              <div id="upload-status">Nenhum arquivo selecionado ...</div>
            </div>
            <div id="upload-files"></div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block style %}
<style>
  #upload-status {
    margin-top: 25px;
  }
</style>
{% endblock %}

{% block script %}
<script>
  $('.upload-select').click(function() {
    $(':file').click();
  });

  $(':file').change(function() {
    if (this.files && this.files[0]) {
      var file = this.files[0];
      var reader = new FileReader();
      reader.onload = function() {
        try {
          var data = JSON.parse(this.result);
          if (validate(data)) {
            $('#upload-status')
              .html(file.name);
            $.ajax({
              url: '/upload/',
              type: 'POST',
              data: new FormData($('#form')[0]),
              enctype: 'multipart/form-data',
              contentType: false,
              processData: false,
              cache: false,
              success: function(data) {
                try {
                  if (data.filename) {
                    $('#upload-status')
                      .html('<span class="text-success">Obrigado por compartilhar suas finanças !!!</span>');
                    $('#upload-files')
                      .append('<a href="files/uploads/' + data.filename + '" download>' + data.filename + '</a><br>');
                  } else {
                    $('#upload-status')
                      .html('<span class="text-danger">Houve um erro de upload ...</span>');
                  }
                } catch (e) {
                  $('#upload-status')
                    .html('<span class="text-danger">Houve um erro de upload ...</span>');
                }
              },
              error: function() {
                $('#upload-status')
                  .html('<span class="text-danger">Houve um erro de upload ...</span>');
              }
            });
          } else {
            $('#upload-status')
              .html('<span class="text-danger">Arquivo inválido ...</span>');
          }
        } catch (e) {
          $('#upload-status')
            .html('<span class="text-danger">Arquivo inválido ...</span>');
        }
      };
      reader.readAsText(file);
    }
  });

  // ! válidar se há transações nos ultimos 30d
  function validate(data) {
    /* Verifica se há pelo menos uma transação */
    if (!(data.name && data.accounts && data.accounts.length)) {
      return false;
    }
    for (var i = 0, m = data.accounts.length; i < m; i++) {
      var account = data.accounts[i];
      for (var j = 0, n = account.transactions.length; j < n; j++) {
        var transaction = account.transactions[j];
        for (var k = 0, o = transaction.payments.length; k < o; k++) {
          var payment = transaction.payments[k];
          return true;
        }
      }
    }
    return false;
  }
</script>
{% endblock %}
